* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/*********************************
*     HEADER CSS
**********************************/
header {
    display: flex;
    position: fixed;
    z-index: 1;
    flex-basis: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: white;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 16px;
    align-items: center;
    }

.nav-links-wrapper {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 8 16px;
    align-items: center;
    flex: 1;
}

.nav-links-wrapper li a {
    padding: 16px 32px;
    font-size: 1em;
    color: #D80844;
}

.nav-links-wrapper li a:hover {
    color: #ff5627;
}

.nav-links-wrapper li a:active {
    font-weight: bold;
}