body,
html {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

a,
a:hover {
  text-decoration: none;
}

/*********************************
*     HEADER CSS
**********************************/
header {
  margin-top: -16px;
  position: fixed;
  z-index: 1;
  height: 60px;
  line-height: 50px;
  background: white;
}

nav .stylelink a {
  color: #d80844 !important;
}

.stylelink a:hover {
  color: #ff5627 !important;
}

.stylelink a:active {
  font-weight: bold !important;
}