/*********************************
*     MAIN CSS
**********************************/
* { 
    box-sizing: inherit;
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-x: hidden;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sidebar {
    display: flex;
    flex-basis: 100%;
    align-items: flex-end;
}

#maincard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100vh;
    width: 100%;
    justify-content: center;
    text-align: center; 
    animation: fadein 2s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes anim {
    0% {
    color : #c90035;
    }
    25% {
        color : black;
    }
    50% {
        color : #c90035;
    }
    75% {
        color : #ff5627;
    }
    100% {
        color : #c90035;
    }
}

@-webkit-keyframes anim {
    0% {
    color : #c90035;
    }
    50% {
        color : #ff5627;
    }
    100% {
        color : #c90035;
    }
}

.img{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#photo {
    clip-path: polygon(21% 0, 100% 0%, 80% 100%, 0% 100%);
}

#cardcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
        }

#maincard h1 {
    font-size: 3em;
    margin-bottom: 8px;
    animation: anim 5s infinite;
    -webkit-animation: anim 8s infinite;
}

#maincard h3 {
    font-size: 1,5em;
    color: #ff5627;
}

#navig{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#maincard a {
    margin: 32px;
    padding: 32px;
    font-size: 1em;
    font-weight: bold;
    color: #D80844;}

#maincard a:hover {
    color: #ff5627;
}

#who {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;   
    margin-bottom: 16px;
    padding-bottom: 16px;
}

#who h3 {
    color: #D80844;
}

#who p {
    margin: 1em;
    text-align: justify;
}

.logo {
    margin:8px;
    padding :8px;
}

.cardalter {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    flex-grow: 1;
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px;
    flex-flow: column wrap;
    padding: 16px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.section div {
    width: 50%;
    height:100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.section:nth-child(odd) div {
    background: #D80844;
    color: white;
}

.section:nth-child(even) div h3 {
    color: #D80844;
}

.section:nth-child(odd) div {
    align-self: end;
}

.cardleft {
    flex-flow: column wrap;
    padding: 16px;
    text-align: center; 
    justify-content: flex-end;
    background: rgba(0, 0, 0, .4);
}

#comments {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;  
    margin: 16px;
    padding: 16px;
}

#comments h2 {
    font-size: 1,5em;
    color: #D80844;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center; 
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;   
    margin: 16px;
    padding: 16px;
}

.formcontent {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;  
    margin: 8px;
    padding: 8px;
}


