

.sidebar {
  margin-top: 26px;
  text-align: center;
  color: red;
}

.cat {
  height: 70px;
}

/*********************************
*     MAIN CSS
**********************************/

section {
  padding: 1.5em;
}

section h3 {
  margin-top: 24px;
}

#maincard {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img {
  margin-top: 16px;
  align-items: center;
  text-align: center;
}

#photo {
  clip-path: polygon(21% 0, 100% 0%, 80% 100%, 0% 100%);
  max-height: 245px;
  border-radius: 10px;
}

.cardcontent {
  align-items: center;
  text-align: center;
}

#maincard h1 {
  font-size: 3em;
  animation: anim 5s infinite;
  -webkit-animation: anim 8s infinite;
}

@keyframes anim {
  0% {
    color: #c90035;
  }
  25% {
    color: black;
  }
  50% {
    color: #c90035;
  }
  75% {
    color: #ff5627;
  }
  100% {
    color: #c90035;
  }
}

@-webkit-keyframes anim {
  0% {
    color: #c90035;
  }
  50% {
    color: #ff5627;
  }
  100% {
    color: #c90035;
  }
}

#maincard h4 {
  margin: 16px;
  font-size: 1, 5em;
}

.click {
  background-color: #c90035;
  border: none;
  padding: 8px 6px;
  margin: 16px;
  border-radius: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.click-content {
  color: white;
}

.click-content:hover {
  color: white;
}

/*Bounce*/
@keyframes kreep {
  0% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

div.kreep {
  display: inline-block;
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: kreep 0.7s ease 2s infinite alternate;
}

div.kreep:hover {
  animation: none;
}
/*END BOUNCER*/

/*********************************
*     SEPARATOR CSS
**********************************/
section article {
  padding: 0px;
}

.separator {
  margin-bottom: 48px;
  height: 2px;
  width: 20%;
  border: none;
  box-shadow: none;
  background-color: #c90035;
}

.separatorwhite {
  margin-bottom: 48px;
  height: 2px;
  width: 20%;
  border: none;
  box-shadow: none;
  background-color: white;
}

/*********************************
*     QUI SUIS-JE CSS
**********************************/
.who-content {
  justify-items: center;
}

.who-content h3 {
  text-align: center;
  color: #c90035;
}

.whotext {
  margin: 8px;
}

.profils {
  margin: 24px;
}

.profils-link {
  margin: 0 16px;
}

/*********************************
*     LOGO CSS
**********************************/
.logo {
  max-width: 200px;
  margin: 24px 0px;
}

/*********************************
*     PROJETS CSS
**********************************/
#projets {
  background: linear-gradient(#d80844, #ff5627);
}

.projets-content {
  color: white;
}

article h5 {
  text-align: center;
  margin: 24 0px;
}

/*********************************
*     EXPERIENCE CSS
**********************************/
.xp-content h3 {
  text-align: center;
  color: #c90035;
}

/*********************************
*     FORMATION CSS
**********************************/
#formations {
  background: linear-gradient(#ff5627, #d80844);
  color: white;
}

.reverse p {
  direction: rtl;
}

.parcours {
  margin: 16px 0px;
}

.parc {
  margin: 0px;
}

.step {
  height: 28px;
  margin-right: 8px;
}

/*********************************
*     EXTRA-PRO CSS
**********************************/
.extrapro-content h3 {
  text-align: center;
  color: #c90035;
}

.marie {
  clip-path: circle(43% at 50% 50%);
}

/*********************************
*     CONTACT CSS
**********************************/
.form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.comments-content h2 {
  color: #d80844;
}

.haxBox {
  color: #d80844;
  caret-color: #ff5627;
  font-size: 1, 5em;
  padding: 24px;
  border: 2px solid #ff5627;
  border-radius: 16px;
  margin: 24px;
}

.haxBox:focus {
  outline: none;
}

.haxBox {
  color: #d80844;
  caret-color: #ff5627;
  font-size: 1, 5em;
  padding: 24px;
  border: 2px solid #ff5627;
  border-radius: 16px;
  margin: 24px;
}

.haxBox:focus {
  outline: none;
}
