/*********************************
*     MAIN CSS
**********************************/

body {
    height: 100vh;
    overflow-x: hidden;
    margin-bottom: 16px;
}

#maincard {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    height: 700px;
    justify-content: center;
    text-align: center; 
}

@keyframes anim {
    0% {
    color : #c90035;
    }
    25% {
        color : black;
    }
    50% {
        color : #c90035;
    }
    75% {
        color : #ff5627;
    }
    100% {
        color : #c90035;
    }
}

@-webkit-keyframes anim {
    0% {
    color : #c90035;
    }
    50% {
        color : #ff5627;
    }
    100% {
        color : #c90035;
    }
}

#maincard h1 {
    font-size: 3em;
    margin-bottom: 8px;
    animation: anim 5s infinite;
    -webkit-animation: anim 8s infinite;
}

#maincard h3 {
    font-size: 1,5em;
    color: #93073e;
}

#navig{
    margin: 64px;
}

#maincard a {
    margin: 32px;
    padding: 32px;
    font-size: 1em;
    font-weight: bold;
    color: #c90035;}

#maincard a:hover {
    color: #ff5627;
}

#photo {
    clip-path: polygon(21% 0, 100% 0%, 80% 100%, 0% 100%);
}

#cardcontent {
    text-align: center;
    }

#who {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;   
    margin-bottom: 16px;
    padding-bottom: 16px;
    color: #c90035;
}

.cardalter {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    flex-grow: 1;
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px;
    flex-flow: column wrap;
    padding: 16px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.section div {
    width: 50%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.section:nth-child(odd) div {
    background: #c90035;
    color: white;
}

.section:nth-child(odd) div {
    align-self: end;
}

.cardleft {
    flex-flow: column wrap;
    padding: 16px;
    text-align: center; 
    justify-content: flex-end;
    background: rgba(0, 0, 0, .4);
}

#comments {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;  
    margin: 16px;
    padding: 16px;
}

#comments h2 {
    font-size: 1,5em;
    color: #93073e;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center; 
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;   
    margin: 16px;
    padding: 16px;
}

.formcontent {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;  
    margin: 8px;
    padding: 8px;
}


